@charset "utf-8";

/* 모바일용 CSS */
/* 기본 CSS */
.container {
  width: 90%;
  max-width: 1132px;
  margin: 0 auto;
}

.cfixed:after,
.container:after {
  display: block;
  content: "";
  clear: both;
}

.sec-tit {
  font-size: 42px;
  color: rgb(216, 216, 216);
  font-weight: normal;
}

/* 헤더 영역 CSS */
#wrap{
  background-color: rgb(34, 23, 23);
}
.header.cfixed{
  background-color: #57000c;
}
.header {
  position: relative;
  padding: 18px 5%;
}

.header .logo {
  float: left;
}

.header .logo a {
  font-size: 26px;
  color: rgb(216, 216, 216);
  font-weight: normal;
}

.header .gnb {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #57000c;
}

.header .gnb li {
  border-bottom: 1px solid rgb(216, 216, 216);
}
.header .gnb li a {
  display: block;
  padding: 14px 0 14px 5%;
  font-size: 14px;
  color: rgb(216, 216, 216);
  font-weight: bold;
}

.header .gnb li a:hover {
  background-color: skyblue;
  color: black;
}

.header .menu-toggle-btn {
  float: right;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
}

.header .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 4px;
  background: rgb(216, 216, 216);
}

.header .menu-toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

/* 디스플레이 영역 CSS */
.display-section {
  margin-top: 59px;
  text-align: center;
}

.display-section .sec-tit {
  margin-bottom: 30px;
  color: rgb(216, 216, 216);
}

.display-section .desc {
  font-family: "PT Serif";
  color: rgb(216, 216, 216);
  line-height: 1.9;
  font-size: 12px;
}


.sect{
	display: flex;
	justify-content: center;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #57000c;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

  margin-left: 5%;
	margin-right: 5%;
}

/*hover start*/
.card .screen{
	position: relative;
	overflow: hidden;
}
.card .screen .top{
	position: absolute;
	bottom: 150%;
	left: 30px;
	z-index: 2;
	color:white;
	font-size: 26px;
	font-weight: 900;
	transition: all .35s;
}
.card .screen .bottom{
	position: absolute;
	top: 150%;
	left: 30px;
	z-index: 2;
	color: white;
	font-size: 12px;
	transition: all .35s;
}

.card .screen:hover .top {bottom:52%}
.card .screen:hover .bottom {top:52%}

.card .screen::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1; 
	opacity: 0;
	transition: all .35s;   
}

.card:hover .screen::after{
	opacity: 1;
}
/*hover end*/
	
.card h1{
	color: #000;
	font-size: 50px;
}
.title {
  color: rgb(216, 216, 216);
  font-size: 30px;
}

.about{
	color: rgb(216, 216, 216);
  font-size: 20px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

 .sns{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* 푸터 영역 CSS */
.footer {
  border: 1px solid #57000c;
  background-color: #57000c;
  margin-top: 104px;
}

.footer p {
  margin: 21px 0;
  color: rgb(216, 216, 216);
  text-align: center;
}

/* 태블릿용 CSS */
@media all and (min-width: 922px) {
  /* 기본 CSS */
  .divider {
    margin-top: 124px;
  }

  .m-divider {
    margin-top: 124px;
  }

  /* 헤더 영역 CSS */
  .header {
    position: static;
    padding: 28px 52px;
  }

  .header .gnb {
    display: block !important;
    position: static;
    float: right;
    width: auto;
    margin-top: 6px;
    background: none;
  }

  .header .gnb li {
    float: left;
    margin-left: 21px;
    border-bottom: 0;
  }

  .header .gnb li a {
    padding: 0;
    font-size: 16px;
    color: rgb(216, 216, 216);
  }

  .header .menu-toggle-btn {
    display: none !important;
  }

  /* 디스플레이 영역 CSS */
  .display-section {
    margin-top: 95px;
  }

  .display-section .desc {
    font-size: 18px;
  }

  .footer p {
    margin: 34px 0;
  }
}

/* PC용 CSS */
@media all and (min-width: 1132px) {
  /* 디스플레이 영역 CSS */
  .display-section {
    text-align: left;
  }

  .display-section .sec-tit {
    float: left;
    margin-bottom: 0;
  }

  .display-section .desc {
    position: relative;
    float: right;
    padding-left: 20px;
    font-family: "PT Serif";
    color: rgb(216, 216, 216) ;
    line-height: 1.9;
    font-size: 20px;
  }

  .display-section .desc:before {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 2px;
    height: 44px;
    background: #57000c;
    content: "";
  }

  #display_img {
    max-width: 20%;
    margin-top: 50px;
  }
}
